@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

header a.active {
  @apply text-primary text-sm md:text-3xl font-semibold;
}
header a {
  @apply text-secondary text-sm md:text-3xl font-semibold;
}

:root {
  transition: 3000ms;
}
